/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'cat_fastq' {
            args            = ""
            publish_dir     = 'fastq'
        }
        'fastqc' {
            args = "--quiet"
        }
        'multiqc' {
            args = ""
        }
        'trimgalore' {
            args = "--fastqc"
            publish_files   = ['txt':'', 'html':'fastqc', 'zip':'fastqc']
        }
        'bwa_mem' {
            // default bwa mem with additional input
            // -q -> don't modifiy mapQ of supplementary alignments
            args = "-q"
        }
        'bwa_index' {
            args = ""
        }
        samblaster {
            args = "-e --minNonOverlap 10"
        }

        'samtools_faidx' {
            args = ""
        }
        'samtools_index_bwa' {
            args = ""
            publish_dir = 'bwa'
        }
        'samtools_index_re' {
            args = ""
            publish_dir = 'circlemap/readextractor'
        }
        'samtools_index_filtered' {
            args = ""
            publish_dir = 'bwa/filtered'
            publish_files = true
        }
        'samtools_sort_re' {
            publish_dir = 'circlemap/readextractor'
            suffix = '.circular_read_candidates_sorted'
        }
        'samtools_sort_qname' {
            args = "-n"
            suffix = "_qname_sorted"
            publish_files = false
        }

        'samtools_sort' {
            args = ""
            suffix = ".sorted"
            publish_files = false
        }
        'samtools_sort_filtered' {
            args = ""
            publish_dir = "bwa/filtered"
            suffix = ".duplicates.removed.sorted"
        }
        'samtools_view' {
            args = "-hf 0x2"
            publish_dir = 'samtools/concordant'
        }

        'samtools_view_filter' {
            args = '-F 0x0400'
            suffix = ".duplicates.removed"
            publish_files = false
        }

        'picard_markduplicates' {
            args            = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
            suffix          = '.markdup.sorted'
            publish_files   = ['bam': '', 'metrics.txt':'picard_metrics']
            publish_dir     = "bwa"
        }
        'picard_markduplicates_samtools' {
            args            = ''
            suffix          = '.markdup.sorted'
            publish_files   = ['bai':'', 'csi':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir     = "bwa"
        }

        'circlemap_readextractor' {
            args = ""
            publish_dir = 'circlemap/readextractor'
        }
        'circlemap_realign' {
            args = ""
            publish_dir = "circlemap/realign"
        }
        'circlemap_repeats' {
            args            = ""
            publish_dir     = "circlemap/repeats"
        }

        'circexplorer2_parse' {
            args            = "-t BWA"
            publish_dir     = "circexplorer2"
        }
        'bedtools_sortedbam2bed' {
            args            = "-cigar"
        }
        'bedtools_splitbam2bed' {
            args            = "-cigar"
        }
        'circlefinder' {
            args            = ""
        }
        'samtools_stats_options' {
            args            = ""
            publish_files   = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
        }
        'samtools_stats' {
            args            = ""
            publish_files   = "samtools/stats"
        }
        'ampliconarchitect_prepareaa' {
            args            = ""
            publish_dir   = "ampliconarchitect/PrepareAA"
        }
        'ampliconarchitect_ampliconarchitect' {
            args            = ""
            publish_dir   = "ampliconarchitect/AA"
            publish_by_meta = true
            publish_files   = ['pdf':'sv_view', 'png':'sv_view', 'summary.txt':'', 'logs.txt':'logs', 'out':'out', 
                            'graph.txt':'amplicons', 'cycles.txt':'amplicons', 'cnseg.txt':'cnseg', ]
        }

    }
}
