
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/circdna -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Test AmpliconArchitect profile with small bam file.'
    config_profile_description  = 'Test AmpliconArchitect usability with a small low-coverage BAM file (~760MB) of COLO320DM'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '12.GB'
    max_time   = '12.h'

    // Input data
    input   = 'https://raw.githubusercontent.com/nf-core/test-datasets/circdna/samplesheet/test_AA_local.csv'
    input_format        = 'BAM'

    // Genome references
    circle_identifier   = 'ampliconarchitect'
    skip_markduplicates = true
    igenomes_ignore     = true

    fasta               = "/mnt/data_disk/R01/dschreye/genome.fa"
    genome              = "GRCh38"
    reference_build     = "GRCh38"
    skip_qc             = true
}
