/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/circdna -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input   = 'https://raw.githubusercontent.com/nf-core/test-datasets/circdna/samplesheet/samplesheet.csv'
    input_format   = 'FASTQ'


    // Genome references
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/circdna/reference/genome.fa'
    circle_identifier   = 'circexplorer2,circle_finder,circle_map_realign,circle_map_repeats,unicycler'
    igenomes_ignore     = true

    // Needed input
    skip_markduplicates = false

    mosek_license_dir   = "https://raw.githubusercontent.com/nf-core/test-datasets/circdna/mosek/mosek.lic"
    aa_data_repo        = "data_repo"
    reference_build     = "GRCh38"
}
