/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/circdna -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

stubRun = true
params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input   = 'https://raw.githubusercontent.com/nf-core/test-datasets/circdna/samplesheet/samplesheet.csv'

    // Outdir
    outdir      = "./results"
    tracedir    = "./results/pipeline_info"


    // Genome references
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/circdna/reference/genome.fa'
    enable_conda        = true
    circle_identifier   = 'circexplorer2,circle_map_realign,circle_map_repeats,circle_finder,unicycler,ampliconarchitect'
    igenomes_ignore     = true

    // Skip Markduplicates
    skip_markduplicates = true

    // AmpliconArchitect dummy parameters
    mosek_license_dir   = "mosek"
    aa_data_repo        = "data_repo"
    reference_build   = "GRCh38"
}
