name: Publish Docker image for PrepareAA

on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAYIO_CIRCDNA_USERNAME }}
          password: ${{ secrets.QUAYIO_CIRCDNA_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          file: modules/local/ampliconsuite/Dockerfile
          push: true
          tags: "quay.io/nf-core/prepareaa:1.0.2"
